
	<div class="container">
		<footer>
			<div class="row">
				<div class="col-md-6">
					<p>Built by <a href="https://matt-walton.net">Matt Walton</a>. Please report bugs to <a href="mailto:bugs@gscript.net">bugs@gscript.net</a></p>
				</div>

				<div class="col-md-6 trello">
					<a href="https://trello.com/b/0Ldv3sdU/gscript">Trello</a>,
					<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=P3CFFQ92Z6EWG">Donate</a>
				</div>
			</div>
		</footer>
	</div>
</body>