<% include ../partials/header %>
<div class="container">
	<h3>Terms and conditions</h3>
	<p><strong>Last modified 06/09/2014</strong></p>
	<p>By using the gscript service at gscript.net you agree to the following terms and conditions.</p>

	<h4>Cookies</h4>

	
</div>
<% include ../partials/footer %>
